body{
    margin: 0;
    padding: 0;
    background-color: rgb(77, 77, 199);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aliceblue; */
}   
.calculator{
    background-color: whitesmoke;
    color: black;
    width: 50vw;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header{
    background-color: red;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    display: none;
}
.input{
    border: none;
    /* padding: 0px 40px; */
}
button:hover{
    box-shadow: 5px 5px 5px #d0bfbf;
    scale: 0.9;
}
.input input{
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: larger;
    border-radius: 10px;
    text-align: right;
}
.box{
    padding: 20px;  
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.deloptions{
    padding: 6px 15px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 8vw;
    height: 8vh;
    color: black;
    background-color: #e6e6e6;
    font-size: larger;
    /* border-radius: 10px; */
    outline: none;
    border: none;
}


@media only screen and (min-width: 320px){
    .calculator{
        width: 60vw;
        padding: 20px;
        gap: 10px;
    }
    .header{
        font-size: 25px;
    }
    .box{
        padding: 0px;
        gap: 10px;
    }
    button{
        width: 10vw;
        height: 5vh;
    }
} 

@media only screen and (min-width: 768px){
    .calculator{
        width: 60vw;
        padding: 20px;
        gap: 10px;
    }
    .header{
        font-size: 25px;
    }
    .box{
        padding: 10px;
        gap: 10px;
    }
    button{
        width: 10vw;
        height: 9vh;
    }
}

@media only screen and (min-width: 425px){
    .calculator{
        width: 60vw;
        padding: 20px;
        gap: 10px;
    }
    .header{
        font-size: 25px;
    }
    .box{
        padding: 10px;
        gap: 10px;
    }
    button{
        width: 12vw;
        height: 6vh;
    }
}

@media only screen and (min-width: 1024px){
    .calculator{
        width: 30vw;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .header{
        padding: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        border-radius: 10px;
    }
    .input{
        border: none;
    }
    .input input{
        padding: 20px;
        width: 100%;
        border: none;
        border-radius: 2px;
        outline: none;
        font-size: larger;
        border-radius: 10px;
    }
    .box{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    button{
        width: 5vw;
        height: 9vh;
    }
}